.c_bg_1 {
    background-color: antiquewhite;
}
.c_bg_2 {
    background-color: chocolate;
}
.c_bg_3 {
    background-color: pink;
}
.c_bg_4 {
    background-color: coral;
}
.c_bg_5 {
    background-color: brown;
}